@import './base.css';

#app {
  height: 100vh;
  font-weight: normal;
}
#app .qq_head .logo{
  font-family: cursive;
  font-size: 18px;
}
#app .qq_head .el-menu-item{
  font-weight: 900;

}

#app .qq_content{
  overflow: auto;
  height: calc(100vh - 60px);
}
@media (min-width: 1024px) {
  
}
