- var friends = 11

template
    div
        case friends
            when 0
            when 1
                p you have very few friends
            default
                p you have #{bb} friends




        p 测试文本

        case bb.name
            when '1'
                p 1
            when '2'
                p 2
            when '3'
                p 4
            when '5'
                p 5
            default 
                p 啥也不是



script
    include a.js