<!--
 * @Descripttion: 
 * @Author: 
 * @Date: {{ @date }}
-->

<template>
    <div class="card mx-3 b-no">
  
      {% if form -%} 
      <Form
        ref="formdata"
        :model="formdata"
        autocomplete="off"
        :label-width="90"
        onsubmit="return false;"
      >
      <Row>

      {% for item in forms  %}
          {% if item=='input' -%}
          <Col span="6">
            <FormItem label="文本" prop="val2">
              <Input
                @on-enter="getList"
                placeholder="请输入"
                v-model="formdata.val2"
              />
            </FormItem>
          </Col>
          {%- endif %}
          {% if item=='select' -%}
          <Col span="6">
            <FormItem label="下拉" prop="val1">
              <Select v-model="formdata.val1" filterable>
                <Option value="">请选择</Option>
                <Option
                  v-for="(item, index) in XL1"
                  :value="item.dictCode"
                  :key="item.dictCode"
                  >{{ item.dictName }}</Option
                >
              </Select>
            </FormItem>
          </Col>
          {%- endif %}
          {% if item=='month' -%}
          <Col span="6">
            <FormItem label="月份" prop="val3">
              <DatePicker
                type="month"
                :clearable="false"
                style="width: 100%"
                :value="formdata.val3"
                @on-change="formdata.val3 = $event"
              />
            </FormItem>
          </Col>
          {%- endif %}
          {% if item=='date' -%}
          <Col span="6">
            <FormItem label="日期" prop="val6">
              <DatePicker
                type="daterange"
                style="width: 100%"
                placeholder="请选择"
                :value="formdata.val6"
                @on-change="formdata.val6 = $event"
              />
            </FormItem>
          </Col>
          {%- endif %}
         
          {% if item=='multiple-select' -%}
          <Col span="6">
            <FormItem label="下拉" prop="val5">
              <Select
                multiple
                filterable
                :max-tag-count="1"
                v-model="formdata.val5"
                :max-tag-placeholder="() => '...'"
                @on-change="(e) => selectListen(e, 'val5')"
              >
                <Option value="">请选择</Option>
                <Option
                  v-for="item in XL2"
                  :value="item.dictCode"
                  :key="item.dictCode"
                  >{{ item.dictName }}</Option
                >
              </Select>
            </FormItem>
          </Col>
          {%- endif %}
      {% endfor %}

      
      <Col span="6">
        <FormItem label="" class="text-right" :label-width="0">
          <a href="javascript:;" class="btn searchBtn" @click="getList()">
            搜索
          </a>
          <a
            href="javascript:;"
            @click="resethandle"
            class="btn searchresetBtn ml-2"
          >
            重置
          </a>
          
          {% if formshow -%}
          {% include "./tmp/formshow.tjs" %} 
          {%- endif %}
        </FormItem>
  
      </Col>
    </Row>
      
      {% if formshow -%}
      <Row v-show="formshow">
      
      </Row>
      {%- endif %}
  
      </Form>
      {%- endif %} 
  
        
      <div class="mb-2">
        {% if delete -%} 
        <a class="btn btn-outline-info" @click="btnbefore">删除</a>
        {%- endif %}
        {% if download -%} 
        {% include "./tmp/download.tjs" %} 
        {%- endif %}
        {% if upload -%} 
        {% include "./tmp/upload.tjs" %} 
        {%- endif %}
      </div>
  
      {% if table -%} 
      {% include "./tmp/table.tjs" %} 
      {%- endif %}
  
      
      {% if delete -%} 
      {% include "./tmp/delete.tjs" %} 
      {%- endif %}
  
    </div>
  </template>
  
  <script>
    {% if  table -%}
    {% include "./import/table.ijs" %}
    {%- endif %}
    {% if  delete -%}
    {% include "./import/delete.ijs" %}
    {%- endif %}
  
    export default {
      components: {
        {% if  table -%}
        {% include "./component/table.com" %}
        {%- endif %}
        {% if  delete -%}
        {% include "./component/delete.com" %}
        {%- endif %}
      },
      data() {
        return {
          {% if  delete -%}
          {% include "./data/delete.data" %}
          {%- endif %}
          {% if  formshow -%}
          formshow:false,
          {%- endif %}
          formdata:{
  
          },
          {% if  table -%}
          {% include "./data/table.data" %}
          {%- endif %}
        };
      },
      mounted() {
      },
      methods: {
        {% if delete -%}
        {% include "./methods/delete.sjs" %}
        {%- endif %}
        {% if download -%}
        {% include "./methods/download.sjs" %}
        {%- endif %}
        {% if upload -%}
        {% include "./methods/upload.sjs" %}
        {%- endif %}
        {% if  table -%}
        {% include "./methods/table.sjs" %}
        {%- endif %}
      },
    };
  </script>
  
  <style></style>
  